[submodule "bitcoin"]
	path = bitcoin
	url = git@github.com:bitcoin/bitcoin.git
    ignore = dirty
[submodule "data"]
	path = data
    url = git@github.com:bitcoincore-dev/asmap-data.git
    ignore = dirty
